# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.assets.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.nuget.cache

# Test output
TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vscode/

# Logs
*.log

# EF Core Migrations metadata
Migrations/

# Other
*.db
*.sqlite
*.mdf
*.ldf
*.editorconfig
*.cache

# Docker
*.dockerignore
Dockerfile
.env
